html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}

body {
  /*background-color: #0F0!inherit;*/
}

.video {
  border: 1px solid black;
  background-color: #000;
}

#buttonContainer{
  display: none;
}
